html, body {
  margin: 0;
  padding: 0;
  background: #eaf6ff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial;
}

#title {
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

canvas {
  display: block;
}